{
	"extends": [ "airbnb", "prettier"],
	"plugins": ["prettier"],
	"rules": {
    "prettier/prettier": ["error"]
  },
	"env": {
	"node": true,
	"es6": true,
  "browser": true
		},
		"parser" : "babel-eslint"
}